@charset "utf-8";

/*clear start*/
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.clearfix { zoom: 1; }
.clearfix:before { content: ' '; display: block; }
.clearfix:after { clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; zoom: 1; }
/*clear end*/
.overflow {
	overflow:hidden;
	zoom:1;
}
*{
	-webkit-box-sizing: border-box;
	-ms-box-sizing:border-box;;
	-o-box-sizing:border-box;
	box-sizing: border-box;
}
div:after, ul:after, dl:after {
	clear:both;
	content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	width:0;
	height:0;
}
.aorange a:link, .aorange a:visited {
	color: #FF7800;
}
.ablue a:link, .ablue a:visited {
	color: #0E76BC;
}
.agreen a:link, .agreen a:visited {
	color: #03ff07;
}
a:hover, .aorange a:hover, .ablue a:hover, .agreen a:hover {
	/*color: #c40000;*/
	cursor: pointer;
	text-decoration: underline;
}
.fl {float:left;}
.fr {float:right;}
.ac {text-align:center;}
.al {text-align:left;}
.ar {text-align:right;}
.fw {font-weight:bold;}
.fn { font-weight:normal;}
.font-color-red {color:#f54747;}
.font-color-red1 {color:#ff0101;}
.font-color-red2 {color:#ff6341;}
.font-color-ore {color:#FB8200;}
.font-color-blue {color:#2759fe;}
.font-color-blue1 {color:#00a8ea;}
.font-color-blue2 {color:#30c4f1;}
.font-color-gray { color:#999999;}
.font-color-black{color:#000;}
.font-color-pink{color: #ff004f;}
.font-color-white{color:#fff;}
.font-color-green { color:#7abd54;}
.font-color-green1 { color:#00902d;}
.font-color-green2 { color:#00cbab;}
.bg-white{background-color: white}
.cursor-p {cursor:pointer;}
.position-rel {position:relative;}
.position-abs {position:absolute;}
.am { vertical-align:middle;}
.at { vertical-align:top;}
.ab { vertical-align:bottom;}
em { font-style:normal;}
.body-bg { background:#F6F6F6;}
.hide { display: none; }
/*mgt-x star*/
.mg-5 {margin:5px;}
.mg-9 {margin:9px;}
.mg-10 {margin:10px!important;}
.mg-15 {margin:15px;}
.mg-20 {margin:20px;}
.mg-25 {margin:25px;}
.mg-30 {margin:30px;}
.mg-40 {margin:40px;}
.mg-50 {margin:50px;}
.mg-60 {margin:60px;}
.mg-70 {margin:70px;}
.mg-90 {margin:90px;}
.mg-110 {margin:110px;}
.mg-120 {margin:120px;}
.mg-138 {margin:138px;}

.mgl-5 {margin-left:5px;}
.mgl-9 {margin-left:9px;}
.mgl-10 {margin-left:10px!important;}
.mgl-15 {margin-left:15px;}
.mgl-20 {margin-left:20px;}
.mgl-25 {margin-left:25px;}
.mgl-30 {margin-left:30px;}
.mgl-40 {margin-left:40px;}
.mgl-50 {margin-left:50px;}
.mgl-60 {margin-left:60px;}
.mgl-70 {margin-left:70px;}
.mgl-90 {margin-left:90px;}
.mgl-110 {margin-left:110px;}
.mgl-120 {margin-left:120px;}
.mgl-138 {margin-left:138px;}

.mgt-0 { margin-top:0px!important;}
.mgt-2 {margin-top:2px;}
.mgt-3 {margin-top:3px;}
.mgt-4 {margin-top:4px;}
.mgt-5 {margin-top:5px;}
.mgt-7 {margin-top:7px;}
.mgt-10,.mgt-w10 {margin-top:10px!important;}
.mgt-15 {margin-top:15px;}
.mgt-20 {margin-top:20px!important;}
.mgt-25 {margin-top:25px;}
.mgt-37 {margin-top:37px;}
.mgt-30 {margin-top:30px !important;}
.mgt-40 {margin-top:40px;}
.mgt-60,.mgt-w60 {margin-top:60px;}
.mgt--5{margin-top: -5px;}
.mgt--10{margin-top: -10px;}

.mgb-5 {margin-bottom:5px;}
.mgb-10 {margin-bottom:10px;}
.mgb-15 {margin-bottom:15px;}
.mgb-20 {margin-bottom:20px;}
.mgb-35 {margin-bottom:35px!important;}

.mgr-3 {margin-right:3px;}
.mgr-5 {margin-right:5px;}
.mgr-9 {margin-right:9px;}
.mgr-10 {margin-right:10px;}
.mgr-15 {margin-right:15px;}
.mgr-20 {margin-right:20px;}
.mgr-40 {margin-right:40px;}
.mgr-49 {margin-right:49px;}
.mg-0-auto{
	margin: 0 auto;
}
/*mgt-x end*/
/*pdt-x star*/
.pd-5 {padding:5px;}
.pd-10 {padding:10px;}
.pd-15 {padding:15px;}
.pd-20 {padding:20px;}
.pd-25,.pd-w25 {padding:25px;}

.pdlr-5 {padding-left:5px;padding-right:5px;}
.pdlr-10 {padding:0 10px;}
.pdtb-10 {padding:10px 0;}
.pdtl-20 {padding-top:20px;padding-left:20px;}
.pdlr10-tb5 {padding:5px 10px;}

.pd-0 {padding:0;}
.pd-5 {padding:5px;}
.pd-10 {padding:10px;}
.pd-15 {padding:15px;}
.pd-20 {padding:20px;}
.pd-30 {padding:30px;}
.pd-25 {padding:25px;}
.pd-40 {padding:40px;}
.pd-50 {padding:50px;}
.pdt-0 {padding-top:0;}
.pdt-5 {padding-top:5px;}
.pdt-10 {padding-top:10px;}
.pdt-15 {padding-top:15px;}
.pdt-11 {padding-top:11px;}
.pdt-12 {padding-top:12px;}
.pdt-20,.pdt-w20 {padding-top:20px;}
.pdt-30 {padding-top:30px;}
.pdt-25 {padding-top:25px;}
.pdt-40 {padding-top:40px;}
.pdt-50 {padding-top:50px;}

.pdl-4 {padding-left:4px;}
.pdl-5 {padding-left:5px;}
.pdl-10 {padding-left:10px;}
.pdl-20 {padding-left:20px;}
.pdl-28 {padding-left:28px;}
.pdl-32 { padding-left:32px!important;}
.pdl-45 {padding-left:45px;}
.pdl-65 {padding-left:65px;}
.pdl-100 {padding-left:100px;}

.pdr-0 {padding-right:0;}
.pdr-5 {padding-right:5px;}
.pdr-10 {padding-right:10px;}
.pdr-20 {padding-right:20px;}

.pdb-5 {padding-bottom:5px;}
.pdb-10 { padding-bottom:10px;}
.pdb-19 {padding-bottom:19px;}
.pdb-20,.pdb-w20 {padding-bottom:20px;}
.pdb-30 {padding-bottom:30px;}
.pdb-118 {padding-bottom:118px;}

.pdtb-15 {padding:15px 0;}
.pdtb-20 {padding:20px 0;}
.pd-lrb25 {padding-left:25px; padding-right:25px; padding-bottom:25px;}
.pd-10-15 { padding:10px 15px;}
.pdlrb20 { padding:20px; padding-top:0;}
/*pdt-x end*/
/*border-x star*/
.bd-1-db {border:1px solid #dbdbdb;}
.bd-top {border-top:1px dashed #F0F0F0;}
.bd-bdashed { border-bottom:1px dashed #dbdbdb;}
/*border-x end*/
/*lin-th-x star*/
.line-h-20 {line-height:20px;}
.line-h-22 {line-height:22px;}
.line-h-25 {line-height:25px;}
.line-h-27 {line-height:27px;}
.line-h-30 {line-height:30px;}
.line-h-32 {line-height:32px;}
.line-h-35 {line-height:35px;}
/*lin-th-x end*/
/*input-x star*/
input,select,label {vertical-align:middle;}

/*input-x end*/
/*font-sx star*/
.fs10 {font-size:.08em;}
.fs12 {font-size:12px;}
.fs14 {font-size:14px;}
.fs16 {font-size:16px;}
.fs18 {font-size:18px;}
.fs20 {font-size:20px;}
.fs22 {font-size:22px;}
.fs24 {font-size:24px;}
.fs32 {font-size:32px;}
.fs36 {font-size:36px;}
/*font-sx end*/
.box {
	display:none;
}
.on {
	display:block;
}
.dis-none {
	display:none;
}
.dis-block {
	display:block;
}
.bdb-none {
	border-bottom:none!important;
}
.line-1 {
	border-top:1px dashed #ccc;
	margin:10px 0;
}
.tc{
	text-align: center;
}
.tl{
	text-align: left!important;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,.col-m-19,.col-m-81 {
	position: relative;
	min-height: 1px;
	float: left;
}
.col-m-19{
	width: 19%;
}
.col-m-81{
	width: 81%;
}
.col-12 {
	width: 100%;
}
.col-11 {
	width: 91.66666667%;
}
.col-10 {
	width: 83.33333333%;
}
.col-9 {
	width: 75%;
	*width: 74.995%;
}
.col-8 {
	width: 66.66666667%;
}
.col-7 {
	width: 58.33333333%;
}
.col-6 {
	width: 50%;
	*width: 49.995%;
}
.col-5 {
	width: 41.66666667%;
}
.col-4 {
	width: 33.33333333%;
}
.col-3 {
	width: 25%;
	*width: 24.95%;
}
.col-2 {
	width: 16.66666667%;
}
.col-1 {
	width: 8.33333333%;
}
.vm{
	vertical-align: middle;
}
.bd-b-gray{
	border-bottom: 1px solid #ededed;
}
.bd-gray{
	border: 1px solid #ededed;
}
.bd-l-gray{
	border-left: 1px solid #ededed;
}
.bd-t-gray{
	border-top: 1px solid #ededed;
}
.bd-r-gray{
	border-right: 1px solid #ededed;
}